<div class="overlay" id="presentation-block">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <div class="d-flex flex-nowrap justify-content-center presentation-header positive-trend">
            <h1 class="presentation pop-out p-1">Discover our New Collection</h1>
        </div>
        <div class="col image-stack ms-4 me-4">
          <div class="stack-img stack-one">
            <img class="stack-image" src="/res/boxes/tiger.png" alt="">
          </div>
          <div class="stack-img stack-two">
            <img class="stack-image" src="/res/boxes/abstract.png" alt="">
          </div>
          <div class="stack-img stack-three">
            <img class="stack-image" src="/res/boxes/cubes.png" alt="">
          </div>
          <div class="stack-img stack-four">
            <img class="stack-image" src="/res/boxes/waves.png" alt="">
          </div>
          <div class="stack-img stack-five">
            <img class="stack-image" src="/res/boxes/pixelated.png" alt="">
          </div>
          <div class="stack-img stack-six">
            <img class="stack-image" src="/res/boxes/starbox.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row text-end me-5">
      <p class="presentation anecdote">LIMITED EDITION</p>
    </div>
    <div class="row text-center">
      <a href="#name"><button class="register-btn-elem btn btn-danger btn-outline-light" type="button" name="button">REGISTER</button></a>
    </div>
  </div>
</div>

<div class="gallery-paint-splash">
  <img class="paint-splash-img" src="/res/stag-5078652_1920.png" alt="">
</div>
<div class="gallery-hearts">
  <img class="gallery-heart-img-one" src="/res/circle_watercolor-4525735_640.png" alt="">
  <img class="gallery-heart-img-two" src="/res/circle_watercolor-4525735_640.png" alt="">
  <img class="gallery-heart-img-three" src="/res/circle_watercolor-4525735_640.png" alt="">
</div>

<!-- Gallery Container -->

<div class="overlay" id="beige-block">
  <br><br>
  <div class="container col-4">
    <div class="row justify-content-center text-center">
      <img class="gallery-image" src="/res/Logo helloproduct.png" alt="">
    </div>
  </div>

  <div class="row text-center ms-5 me-5">
    <h2 class="gallery-heading">Presenting our new collection</h2>
    <p class="gallery-anecdote">Limited availability</p>

  </div>
  <div class="container family-gallery-stack">
    <img class="stack-img gallery-image gallery-image-one" src="/res/boxes/tiger.png" alt="">
    <img class="stack-img gallery-image gallery-image-two" src="/res/boxes/abstract.png" alt="">
    <img class="stack-img gallery-image gallery-image-three" src="/res/boxes/cubes.png" alt="">
    <img class="stack-img gallery-image gallery-image-four" src="/res/boxes/waves.png" alt="">
    <img class="stack-img gallery-image gallery-image-five" src="/res/boxes/pixelated.png" alt="">
    <img class="stack-img gallery-image gallery-image-six" src="/res/boxes/starbox.png" alt="">
  </div>
  <br>
</div>

<!-- Carousel Container -->

<div class="carousel-bg">
  <br><br>
  <div class="overlay">
    <div class="col justify-content-center ">
      <h3 class="carousel-heading text-center">Choose the one that fits you!</h3>
      <h3 class="carousel-subheading text-center">MAKE IT YOURS</h3>
    </div>

    <div class="carousel-container justify-content-center" >
      <div id="carousel" class="ms-5 me-5" >
      
        <div class="hideLeft">
          <img src="/res/boxes/tiger.png">
        </div>
    
        <div class="prevLeftSecond">
          <img src="/res/boxes/abstract.png">
        </div>
    
        <div class="prev">
          <img src="/res/boxes/cubes.png">
        </div>
    
        <div class="selected">
          <img src="/res/boxes/waves.png">
        </div>
    
        <div class="next">
          <img src="/res/boxes/pixelated.png">
        </div>
    
        <div class="nextRightSecond">
          <img src="/res/boxes/starbox.png">
        </div>
        
      </div>
      <div class="carousel-controls mb-5">
        <div id="carousel-control-prev" class="ms-1 carousel-control-prev"></div>
        <div id="carousel-control-next" class="me-1 carousel-control-next"></div>
      </div>
    </div>
  </div>
  <div class="carousel-subspace"></div>
</div>

<div class="carousel-heart">
  <img class="carousel-heart-img" src="/res/circle_watercolor-4525735_640.png" alt="">
  <img class="carousel-heart-img-two" src="/res/circle_watercolor-4525735_640.png" alt="">
  <img class="carousel-heart-img-three" src="/res/circle_watercolor-4525735_640.png" alt="">
</div>

<!-- Instructions Container -->

<div class="overlay info-block" id="beige-block">
  <div class="info-stack">
    <div class="info-stack-title">
      <div class="row text-center">
        <h2 class="info-heading">HOW IT'S DONE</h2>
      </div>
    </div>
    <div class="info-stack-subtitle">
      <div class="row justify-content-center text-center">
        <hr>
      </div>
    </div>

    <div class=" col info-stack-text-block" >
      <div class="row align-items-center mb-2 mt-2">
        <div class="col-1">
          <div class="instructions-background"><p class="instructions-number">1</p></div>
        </div>
        <div class="col-8 align-self-center mt-3">
          <p class="instruction-text">Fill out the form below with your data 
            and details of receipt(s) showing 3 purchases of any of our products.</p>
        </div>
      </div>
      <div class="row align-items-center mb-2 mt-2 ">
        <div class="col-1">
          <div class="instructions-background"><p class="instructions-number">2</p></div>
        </div>
        <div class="col-8 align-self-center mt-3">
          <p class="instruction-text">Consent to have your data processed by us.</p>
        </div>
      </div>
      <div class="row align-items-center mb-2 mt-2 ">
        <div class="col-1">
          <div class="instructions-background"><p class="instructions-number">3</p></div>
        </div>
        <div class="col-8 align-self-center mt-3">
          <p class="instruction-text ">You can choose one of the products to be delivered to you, 
            if the product is available.</p>
        </div>
      </div>
    </div> 
    <!-- Circle overlay -->

    <div class="row align-items-end info-stack-circle-text">
      <div class="align-self-end">
        <div class="container row">
          <div class="bag-stack">
            <div class="stack-img bag-stack-one">
              <img class="stack-image" src="/res/boxes/starbox.png" alt="">
            </div>
            <div class="stack-img bag-stack-two">
              <img class="stack-image" src="/res/boxes/abstract.png" alt="">
            </div>
            
          </div>

          <div>
            <h3 class="prize-info-heading">ONE FREE SAMPLE*</h3>
            <p class="prize-info-text">*The free sample will be delivered if it is in stock,
              images are for presentation purposes only.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-end info-stack-corner">
      <div class="align-self-end">
        <div class="info-stack-circle"></div>
      </div>
    </div>
    
  </div>
</div>

<!-- Form Entry Result Toast Notification -->

<% if (typeof formEntryResult != 'undefined') { %>
 
<div id="formResult" class="row justify-content-center">
  <div class="mt-3 toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        <% if (formEntryResult) { %>
          You have successfuly registered.
        <% } else { %>
          Your registration was not successful, please try again.
          Reason: <%= formEntryResultMsg %>
        <% } %>
      </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>
  
<% } %>

<div class="carousel-heart">
  <img class="carousel-heart-img-four" src="/res/circle_watercolor-4525735_640.png" alt="">
  <img class="carousel-heart-img-five" src="/res/circle_watercolor-4525735_640.png" alt="">
  <img class="carousel-heart-img-six" src="/res/circle_watercolor-4525735_640.png" alt="">
</div>

<!-- Form Container -->
<div class="info-stack" id="form-block">
  <div class="info-stack-title">
    <div class="row text-center">
      <h2 class="info-heading">REGISTER</h2>
    </div>
  </div>
  <div class="info-stack-subtitle">
    <div class="row justify-content-center text-center">
      <hr>
    </div>
  </div>

  <!-- Form -->
  <div class="container info-stack-content">
    <form method="post" action="/" novalidate enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="row justify-content-center">
        <div class="col mb-3 col-lg-4 col-md-6 col-sm-12 col-12">
          <input id="name" name="name" class="form-control <%= errors.name ? 'is-invalid' : '' %>" type="text" 
          placeholder="Full Name"
            value="<%= data.name %>"
            <% if (errors.name) { %>
              data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.name.msg %>"
            <% } %>>
        </div>
        <div class="col mb-3 col-lg-4 col-md-6 col-sm-12 col-12">
          <input name="email" class="form-control <%= errors.email ? 'is-invalid' : '' %>" type="text" 
          placeholder="Email"
            value="<%= data.email %>"
            <% if (errors.email) { %>
              data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.email.msg %>"
            <% } %>>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col mb-3 col-lg-4 col-md-6 col-sm-12 col-12">
          <input name="number" class="form-control <%= errors.number ? 'is-invalid' : '' %>" type="text" 
          placeholder="Phone Number"
            value="<%= data.number %>"
            <% if (errors.number) { %>
              data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.number.msg %>"
            <% } %>>
        </div>
        <div class="col mb-3 col-lg-4 col-md-6 col-sm-12 col-12">
          <input name="address" class="form-control <%= errors.address ? 'is-invalid' : '' %>" type="text" 
          placeholder="Address"
            value="<%= data.address %>"
            <% if (errors.address) { %>
              data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.address.msg %>"
            <% } %>>
        </div>
      </div>
      <div class="row row-cols-4 justify-content-center">
        <div class="col mb-3 col-lg-2 col-md-3 col-sm-6 col-6">
          <input name="receiptDate" class="form-control <%= errors.receiptDate ? 'is-invalid' : '' %>" type="date" 
          placeholder="Receipt date"
            value="<%= (data.receiptDate) ? dateFormat(data.receiptDate, 'yyyy-mm-dd') : '' %>"
            <% if (errors.receiptDate) { %>
              data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.receiptDate.msg %>"
            <% } %>>
        </div>
        <div class="col mb-3 col-lg-2 col-md-3 col-sm-6 col-6">
          <input name="receiptNumber" class="form-control <%= errors.receiptNumber ? 'is-invalid' : '' %>" type="text" 
          placeholder="Receipt number"
            value="<%= data.receiptNumber %>"
            <% if (errors.receiptNumber) { %>
              data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.receiptNumber.msg %>"
            <% } %>>
        </div>
        <div class="col mb-3 col-lg-2 col-md-3 col-sm-6 col-6">
          <input name="receiptValue" class="form-control <%= errors.receiptValue ? 'is-invalid' : '' %>" type="text" 
          placeholder="Receipt value"
            value="<%= data.receiptValue %>"
            <% if (errors.receiptValue) { %>
              data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.receiptValue.msg %>"
            <% } %>>
        </div>
        <div class="custom-file col mb-3 col-lg-2 col-md-3 col-sm-6 col-6">
          <input id="photo" type="file" class="form-control <%= errors.photo ? 'is-invalid' : '' %>" 
          name="photo" aria-describedby="inputfile" aria-label="Upload"
          <% if (errors.photo) { %>
            data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.photo.msg %>"
          <% } %>>
        </div>
      </div>
      <div class="row row-cols-4 justify-content-center">
        <div class="col mb-3 col-lg-2 col-md-3 col-sm-6 col-6">
          <input name="receiptDate2" class="form-control <%= errors.receiptDate2 ? 'is-invalid' : '' %>" type="date" 
          placeholder="Receipt date"
            value="<%= (data.receiptDate2) ? dateFormat(data.receiptDate2, 'yyyy-mm-dd') : '' %>"
            <% if (errors.receiptDate2) { %>
              data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.receiptDate2.msg %>"
            <% } %>>
        </div>
        <div class="col mb-3 col-lg-2 col-md-3 col-sm-6 col-6">
          <input name="receiptNumber2" class="form-control <%= errors.receiptNumber2 ? 'is-invalid' : '' %>" type="text" 
          placeholder="Receipt number"
            value="<%= data.receiptNumber2 %>"
            <% if (errors.receiptNumber2) { %>
              data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.receiptNumber2.msg %>"
            <% } %>>
        </div>
        <div class="col mb-3 col-lg-2 col-md-3 col-sm-6 col-6">
          <input name="receiptValue2" class="form-control <%= errors.receiptValue2 ? 'is-invalid' : '' %>" type="text" 
          placeholder="Receipt value"
            value="<%= data.receiptValue2 %>"
            <% if (errors.receiptValue2) { %>
              data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.receiptValue2.msg %>"
            <% } %>>
        </div>
        <div class="col mb-3 col-lg-2 col-md-3 col-sm-6 col-6">
          <input type="file" class="form-control <%= errors.photo2 ? 'is-invalid' : '' %>" 
          id="photo2" name="photo2" aria-describedby="inputfile" aria-label="Upload"
          <% if (errors.photo2) { %>
            data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.photo2.msg %>"
          <% } %>>
        </div>
      </div>
      <div class="row row-cols-4 justify-content-center">
        <div class="col mb-3 col-lg-2 col-md-3 col-sm-6 col-6">
          <input name="receiptDate3" class="form-control <%= errors.receiptDate3 ? 'is-invalid' : '' %>" type="date" 
          placeholder="Receipt date"
            value="<%= (data.receiptDate3) ? dateFormat(data.receiptDate3, 'yyyy-mm-dd') : '' %>"
            <% if (errors.receiptDate3) { %>
              data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.receiptDate3.msg %>"
            <% } %>>
        </div>
        <div class="col mb-3 col-lg-2 col-md-3 col-sm-6 col-6">
          <input name="receiptNumber3" class="form-control <%= errors.receiptNumber3 ? 'is-invalid' : '' %>" type="text" 
          placeholder="Receipt number"
            value="<%= data.receiptNumber3 %>"
            <% if (errors.receiptNumber3) { %>
              data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.receiptNumber3.msg %>"
            <% } %>>
        </div>
        <div class="col mb-3 col-lg-2 col-md-3 col-sm-6 col-6">
          <input name="receiptValue3" class="form-control <%= errors.receiptValue3 ? 'is-invalid' : '' %>" type="text" 
          placeholder="Receipt value"
            value="<%= data.receiptValue3 %>"
            <% if (errors.receiptValue3) { %>
              data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.receiptValue3.msg %>"
            <% } %>>
        </div>
        <div class="col mb-3 col-lg-2 col-md-3 col-sm-6 col-6">
          <input type="file" class="form-control <%= errors.photo3 ? 'is-invalid' : '' %>" 
          id="photo3" name="photo3" aria-describedby="inputfile" aria-label="Upload"
          <% if (errors.photo3) { %>
            data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.photo3.msg %>"
          <% } %>>
        </div>
      </div>
      <div class="row justify-content-center ms-2">
        <div class="form-check form-check-inline col col-lg-6 col-md-8 col-sm-8 col-8">
          <input id="checkConsent" type="checkbox" <%= (typeof errors.consent === 'undefined' && data.consent) ? 'checked' : '' %>
          id="consent" name="consent" class="form-check-input 
          <%= (typeof errors.consent != 'undefined') ? 'is-invalid' : '' %>"
          <% if (typeof errors.consent != 'undefined') { %>
            data-bs-toggle="tooltip" data-bs-placement="top" title="<%= errors.consent.msg %>"
          <% } %>>
          <label class="form-check-label" for="checkConsent">
            I confirm that I have read the Campaign Regulations and agree to the processing of my personal
            data by Hello Product LLC and the persons empowered by it.
          </label>
        </div>
      </div>
      <div class="row mb-3 justify-content-center">
        <div class="row text-center">
          <a href="#name"><input id="register" type="submit" class="btn btn-primary mr-2 register-btn-elem btn btn-danger btn-outline-light" name="button" value="     SEND     "></input></a>
        </div>
      </div>
    </form>
  </div>

  <div class="info-stack-return-top">
    <div class="row text-center justify-content-center">
      <a href="#app-navbar"><img class="img-return-top" src="/res/top.png" alt="">
      <p class="text-return-top">Back to the top</p></a>
    </div>
  </div>
</div>


