<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap + Custom CSS (from SCSS) -->
    <link type="text/css" href="css/main.css" rel="stylesheet">
    
    <!-- JQuery 3 -->
    <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
    </script> 

    <!-- Bootstrap with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" 
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" 
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" 
    crossorigin="anonymous"></script>
    
    <!-- Custom JS -->
    <script type="text/javascript" src="js/main.js"></script>
    <title>Form Campaign</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="app-navbar">

      <a class="navbar-brand mx-3 crop-brand" href="#">
        <img class="cropped" src="/res/Site Logo helloproduct.png" alt="" width="120" height="55">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="navbar-collapse collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto me-auto">
          <li class="nav-item mx-3">
            <a class="nav-link" href="#name">Register</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="#">Rules</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>

    </nav>
    <!-- Page -->
    <%- body %>
    <!-- Footer -->
    <footer id="app-footer">
      <div class="footer justify-content-center text-center">
        <ul class="list-inline ">
          <li class="list-inline-item nav-item ">
            <a class="nav-link" href="#name">Register</a>
          </li>
          <li class="list-inline-item nav-item ">
            <a class="nav-link" href="#">Rules</a>
          </li>
          <li class="list-inline-item nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </footer>

    
  </body>
</html>
