@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/bootstrap.scss";

$primary:#3b6f89;
$secondary:#5f5b79;
$success:#acb80d;
$danger:#8b1d4d;
$info:#501133;
$warning:#72a38b;
$light:#ffffff;
$dark:#000000;
$skin: #6f8d7e;
$nav: #131313;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "info": $info,
  "warning": $warning,  
  "light": $light,
  "dark": $dark
) ;