@import 'colors';

@mixin fontTtf($font-family, $font-file) {
    @font-face {
        font-family: $font-family;
        src: url($font-file+'.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@mixin fontOtf($font-family, $font-file) {
    @font-face {
        font-family: $font-family;
        src: url($font-file+'.otf') format("opentype");
        font-weight: normal;
        font-style: normal;
    }
}
@include fontTtf('Rossana', '../res/Fonts/RossanaRegular-0W0OG');
@include fontTtf('Dosis-Light', '../res/Fonts/DosisLight-3jdp');
@include fontTtf('Dosis-Medium', '../res/Fonts/DosisMedium-xP6m');
@include fontTtf('Dosis-Semibold', '../res/Fonts/DosisSemibold-pxJd');
@include fontTtf('Dosis-Book', '../res/Fonts/DosisBook-ZZm3');
@include fontTtf('Dosis-Bold', '../res/Fonts/DosisBold-OLR6');

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }

