@import 'colors';
@import 'fonts';

html, body
{
    height: 95%;
}

@mixin box-shadow($h-offset, $v-offset, $blur, $spread, $color) {
    -webkit-box-shadow: $h-offset $v-offset $blur $spread $color;
    -moz-box-shadow: $h-offset $v-offset $blur $spread $color;
    box-shadow: $h-offset $v-offset $blur $spread $color;
}

@mixin drop-shadow($h-offset, $v-offset, $blur, $color) {
    -webkit-filter: drop-shadow($h-offset $v-offset $blur $color);
    filter:drop-shadow($h-offset $v-offset $blur $color);
}

#app-navbar {
    @include box-shadow(0, 4px, 4px, 0px, #00000060);
    background: linear-gradient(180deg, $secondary, $primary);
}

.footer {
    border: 1px solid #00000000; 
    background: linear-gradient(0deg, $secondary, $primary);
}

.nav-item {
    text-align: right;
}
    
#presentation-block {
    background: linear-gradient(180deg, $warning, $primary, $secondary);
}

#beige-block {
    height: max-content;
    background-color: $skin;
}

#formResult {
    overflow: visible;
    position: relative;
    z-index: 25;
}

.toast {
    position: absolute;
}

nav .navbar-nav li a {
    color: $nav !important;
    font-size: 0.8rem;
    font-family: Dosis-Bold, Arial-bold, arial, sans-serif;
}

footer .list-inline li a {
    color: $nav !important;
    font-size: 0.8rem;
    font-family: Dosis-Bold, Arial-bold, arial, sans-serif;
}
    
.presentation-header {
    color: $light;
    font-family: Rossana, Arial-bold, arial, sans-serif;
    text-shadow: 0.15rem 0.15rem $info;
    &.positive-trend { 
        @include transform(rotate(-3deg)); 
    } 
}

h1.presentation.pop-out { 
    font-size: 1em;
    @include transform(translateY(54%));
    @media (min-width: 360px) {
        font-size: 2em;
        @include transform(translateY(45%));
    }
    @media (min-width: 450px) {
        font-size: 3em;
        @include transform(translateY(35%));
    }
    @media (min-width: 768px) {
        font-size: 4.5em;
        @include transform(translateY(35%));
    }
    @media (min-width: 992px) {
        font-size: 6em;
        @include transform(translateY(35%));
    }
    @media (min-width: 1200px) {
        font-size: 7em;
        @include transform(translateY(35%));
    }
}

p.presentation.anecdote { 
    font-size: 0.5em;
    @media (min-width: 370px) {
        font-size: 0.75em;
    }
    @media (min-width: 768px) {
        font-size: 1em;
    }
    @media (min-width: 992px) {
    font-size: 1.5em;
    }
    @media (min-width: 1200px) {
    font-size: 2em;
    }
    color: $light;
    font-family: Dosis-Book, Arial-bold, arial, sans-serif;
}

.image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(24, 1fr);
}

.stack-img {
    @include drop-shadow(5px, 4px, 3px, #0000003F);
}

img.stack-image {
    width: 100%;
    display: block;
}

.stack-one {
    grid-column: 1 / span 6;
    grid-row: 1;
    padding-top: 40%;
    z-index: 1;
}

.stack-two {
    grid-row: 1;
    grid-column: 4 / span 8;
    padding-top: 15%;
    z-index: 2; 
}

.stack-three {
    grid-row: 1;
    grid-column: 7 / span 10;
    z-index: 3;
}

.stack-four {
    grid-row: 1;
    grid-column: 12 / span 8;
    padding-top: 15%;
    z-index: 2;
}

.stack-five {
    grid-row: 1;
    grid-column: 16 / span 6;
    padding-top: 40%;
    z-index: 1;
}

.stack-six {
    grid-row: 1;
    grid-column: 20 / span 5;
    padding-top: 60%;
}

.family-gallery-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
}

img.gallery-image {
    display: block;
    width: 100%;
}

.gallery-center-logo {
    grid-column: 2 / span 1;
    grid-row: 1;
    padding-top: 10%;
    z-index: 1;
}

.gallery-paint-splash {
    opacity: 0.5;
    height: 0px;
    top: 20px;
    position: relative;
    z-index: 0;
}

.paint-splash-img {
    opacity: 0.8;
    position: absolute;
    width: 65%;
    left: -22%;
    top: 20%;
    @include transform(rotate(-15deg)); 
}

.gallery-hearts {
    position: relative;
    z-index: 1;
}

.gallery-heart-img-one {
    opacity: 1;
    float:right;
    position: absolute;
    right: 12%;
    width: 4%;
    @include transform(translate(-25%, 60%)  rotate(-15deg));
}

.gallery-heart-img-two {
    opacity: 1;
    float:right;
    position: absolute;
    right: 6%;
    width: 5%;
    @include transform(translate(-45%, 140%) rotate(30deg));
}

.gallery-heart-img-three {
    opacity: 1;
    float:right;
    position: absolute;
    right: 5%;
    width: 8%;
    @include transform(translate(-45%, 180%) rotate(-30deg));
}

h2.gallery-heading { 
    font-size: 0.5em;
    @media (min-width: 370px) {
        font-size: 0.75em;
    }
    @media (min-width: 768px) {
        font-size: 1em;
    }
    @media (min-width: 992px) {
    font-size: 1.5em;
    }
    @media (min-width: 1200px) {
    font-size: 2em;
    }
    color: $info;
    font-family: Dosis-Bold, Arial-bold, arial, sans-serif;
}

p.gallery-anecdote { 
    font-size: 0.2em;
    @media (min-width: 370px) {
        font-size: 0.35em;
    }
    @media (min-width: 768px) {
        font-size: 0.5em;
    }
    @media (min-width: 992px) {
    font-size: 0.75em;
    }
    @media (min-width: 1200px) {
    font-size: 1em;
    }
    color: $info;
    font-family: Dosis-Book, Arial-bold, arial, sans-serif;
}


.crop-brand {
    width: 141px; 
    height: 40px; 
    overflow: hidden;
    position: relative;
}

img.cropped {
    position: absolute;
    top: 5%;     
    left: 5%;
}

.register-btn-elem {
    position: relative;
    top: 50%; 
    font-size: 1.5em;
    vertical-align: baseline;
    color: $light;
    font-family: Dosis-Bold, Arial-bold, arial, sans-serif;
}

.form-check-label {
    font-size: 0.8rem;
    color: $info;
    font-family: Dosis-Light, Arial-bold, arial, sans-serif;
}

div.carousel-bg {
    background-size:cover;
	background-repeat:no-repeat;
    background-image: url('../res/section_bg.png');
}

#carousel {
    display: grid;
    position: relative;
    grid-template-columns: repeat(24, 1fr);
    grid-row: 1;
    grid-column: 2 / span 22;
    z-index: 3;

  div {
        transition: transform 1s, left 1s, opacity 1s, z-index 0s;

        img {
            width: 100%;
            display: block;
            transition: padding-top 1s;
            @include drop-shadow(5px, 4px, 3px, #0000003F);
        }

        &.hideLeft {
            grid-column: 2 / span 4;
            grid-row: 1;
            padding-top: 100%;
        }

        &.hideRight {
            grid-column: 20 / span 4;
            grid-row: 1;
            padding-top: 100%;
        }

        &.prevLeftSecond {
            grid-row: 1;
            grid-column: 3 / span 6;
            padding-top: 50%;
            z-index: 2; 
        }

        &.prev {
            grid-row: 1;
            grid-column: 5 / span 8;
            padding-top: 20%;
            z-index: 3;
        }

        &.selected {
            grid-row: 1;
            grid-column: 8 / span 10;
            padding-top: 5%;
            z-index: 4;
        }

        &.next {
            grid-row: 1;
            grid-column: 13 / span 8;
            padding-top: 20%;
            z-index: 3;
        }  

        &.nextRightSecond {
            grid-row: 1;
            grid-column: 17 / span 6;
            padding-top: 50%;
            z-index: 2;
        }
    }
}

h3.carousel-heading {
    font-size: 1em;
    @media (min-width: 370px) {
        font-size: 1.25em;
    }
    @media (min-width: 768px) {
        font-size: 1.5em;
    }
    @media (min-width: 992px) {
    font-size: 2em;
    }
    @media (min-width: 1200px) {
    font-size: 2.5em;
    }
    color: $info;
    font-family: Rossana, Arial-bold, arial, sans-serif;
}

h3.carousel-subheading {
    font-size: 1.5em;
    @media (min-width: 370px) {
        font-size: 1.75em;
    }
    @media (min-width: 768px) {
        font-size: 2em;
    }
    @media (min-width: 992px) {
    font-size: 2.25em;
    }
    @media (min-width: 1200px) {
    font-size: 2.5em;
    }
    color: $light;
    font-family: Dosis-Semibold, Arial-bold, arial, sans-serif;
    text-shadow: 0.1rem 0.07rem $info;
}


h2.info-heading {
    font-size: 2em;
    @media (min-width: 370px) {
        font-size: 2.25em;
    }
    @media (min-width: 768px) {
        font-size: 2.5em;
    }
    @media (min-width: 992px) {
    font-size: 3em;
    }
    @media (min-width: 1200px) {
    font-size: 3.5em;
    }
    color: $light;
    font-family: Dosis-Semibold, Arial-bold, arial, sans-serif;
    text-shadow: 0.1rem 0.07rem $info;
}

.carousel-heart {
    position: relative;
}

.carousel-container {
    height: max-content;
}

.carousel-controls {
    position: relative;
    height: 100%;
    margin-top: -10%;
}

.carousel-subspace {
    height: 20px;
    @media (min-width: 370px) {
        height: 60px;        
    }
    @media (min-width: 600px) {
        height: 80px;
    }
    @media (min-width: 768px) {
        height: 100px;
    }
    @media (min-width: 845px) {
        height: 120px;
    }
    @media (min-width: 1200px) {
        height: 140px;
    }
    @media (min-width: 1600px) {
        height: 200px;
    }
}

.carousel-control-next {
    height: 1em;
    width: 2em;
    float: right;
    right: 3%;
    z-index: 10;
    &:before {
        top: 0.7em;
        right: .9em;
        @include transform(rotate(45deg));
    }

    &:after {
        top: -0.5em;
        right: .9em;
        @include transform(rotate(-45deg));
    }
}

.carousel-control-next::before, .carousel-control-next::after {
    height: 2em;
    width: 0.2em;
    background: $info;
    content: "";
    position: absolute;
}

.carousel-control-prev {
    height: 2rem;
    width: 2rem;
    float: left;
    left: 3%;
    z-index: 10;

    &:before {
        top: 0rem;
        right: .9rem;
        @include transform(rotate(45deg));
    }
    
    &:after {
        top: 1.3rem;
        right: .9rem;
        @include transform(rotate(-45deg));
    }
}

.carousel-control-prev::before, .carousel-control-prev::after {
    height: 2rem;
    width: 0.2rem;
    background: $info;
    content: "";
    position: absolute;
}

.carousel-heart-img {
    z-index: 1;
    opacity: 1;
    float:right;
    position: absolute;
    right: 45%;
    width: 10%;
    @include transform(translate(0%, -55%));
}

.carousel-heart-img {
    z-index: 1;
    opacity: 1;
    float:right;
    position: absolute;
    right: 45%;
    width: 10%;
    @include transform(translate(0%, -55%));
}

.carousel-heart-img-two {
    z-index: 1;
    opacity: 1;
    float:left;
    position: absolute;
    left: 12%;
    width: 8%;
    @include transform(translate(-45%, 40%) rotate(30deg));
}

.carousel-heart-img-three {
    z-index: 1;
    opacity: 1;
    float:left;
    position: absolute;
    left: 10%;
    width: 12%;
    @include transform(translate(-45%, 120%) rotate(-30deg));
}

.carousel-heart-img-four {
    z-index: 1;
    opacity: 1;
    float:right;
    position: absolute;
    right: 10%;
    width: 12%;
    @include transform(translateY(30%) rotate(-30deg));
}

.carousel-heart-img-five {
    z-index: 1;
    opacity: 1;
    float:right;
    position: absolute;
    right: 5%;
    width: 8%;
    @include transform(translateY(250%) rotate(30deg));
}

.carousel-heart-img-six {
    z-index: 1;
    opacity: 1;
    float:left;
    position: absolute;
    left: 10%;
    width: 12%;
    @include transform(translateY(250%) rotate(-45deg));
}

.instructions-background {    
    position: relative;
    color: $light;
    border-radius: 50%;
    background: $danger;
    border: 1px solid $light;
    width: 30px;
    height: 30px;
    padding: 6px; 
    @media (min-width: 406px) {
        width: 35px;
        height: 35px;
        padding: 8px;      
    }
    @media (min-width: 768px) {
        width: 40px;
        height: 40px;
        padding: 8px;
    }
    @media (min-width: 992px) {
        width: 50px;
        height: 50px;
        padding: 9px;
    }
    @media (min-width: 1200px) {
        width: 60px;
        height:60px;
        padding: 11px;
    }
    @media (min-width: 1600px) {
        width: 70px;
        height: 70px;
        padding: 12px;
    }
}

.instructions-number {
    text-align: center;
    font-size: 1.25em;
    @media (min-width: 406px) {
        font-size: 1.5em;     
    }
    @media (min-width: 768px) {
        font-size: 1.6em;
    }
    @media (min-width: 992px) {
        font-size: 2.25em;
    }
    @media (min-width: 1200px) {
        font-size: 3em;
    }
    @media (min-width: 1600px) {
        font-size: 3.5em;
    }
    
    font-family: Dosis-Medium, Arial-bold, arial, sans-serif;
    @include transform(translate(0%, -25%));
    text-shadow: 0 0.07rem $info;
}

p.instruction-text {
    z-index: 11;
    font-size: 0.5em;
    padding-left: 10%;
    
    @media (min-width: 370px) {
        font-size: 0.65em;        
    }
    @media (min-width: 768px) {
        font-size: 0.7em;
    }
    @media (min-width: 992px) {
        font-size: 0.8em;
    }
    @media (min-width: 1200px) {
        font-size: 0.9em;
    }
    @media (min-width: 1600px) {
        font-size: 1em;
    }

    color: $light;
    font-family: Dosis-Regular, Arial-bold, arial, sans-serif;
}



h3.prize-info-heading {
    z-index: 1;
    font-size: 0.5em;
    
    @media (min-width: 370px) {
        font-size: 0.8em;        
    }
    @media (min-width: 768px) {
        font-size: 1.25em;
    }
    @media (min-width: 992px) {
        font-size: 1.75em;
    }
    @media (min-width: 1200px) {
        font-size: 2.5em;
    }
    @media (min-width: 1600px) {
        font-size: 3em;
    }

    @include transform(translateY(30%));

    color: $light;
    font-family: Dosis-Semibold, Arial-bold, arial, sans-serif;
}

p.prize-info-text {
    z-index: 11;
    
    font-size: 0.1em;
    
    @media (min-width: 370px) {
        font-size: 0.3em;        
    }
    @media (min-width: 768px) {
        font-size: 0.7em;
    }
    @media (min-width: 992px) {
        font-size: 0.9em;
    }
    @media (min-width: 1200px) {
        font-size: 1em;
    }
    @media (min-width: 1600px) {
        font-size: 1.15em;
    }

    color: $light;
    font-family: Dosis-Medium, Arial-bold, arial, sans-serif;
}

.info-stack {
    display: grid;
    position: relative;
    overflow: hidden;
    grid-template-columns: repeat(7, 1fr);
}

.info-stack-title {
    grid-column: 3 / span 3;
    grid-row: 1;
    padding-top: 20%;
    z-index: 2;
}

.info-stack-subtitle {
    grid-column: 3 / span 3;
    grid-row: 2;
    padding-inline-start: 15%;
    padding-inline-end: 15%;
    padding-bottom: 5%;
    z-index: 2;
}
 
.info-stack-text-block {
    grid-column: 2 / span 4;
    grid-row: 3;
    z-index: 2;
    padding-top: 5%;
    padding-inline-start: 15%;
}

.info-stack-corner {
    grid-column: 5 / span 3;
    grid-row: 2 / span 3;
}

.info-stack-circle {
    position: absolute;
    z-index: 3;
    width: 50%;
    border-radius: 50%;
    background-color: $danger;
    @include transform(translate(10%,-60%));
    &:after {
        content: "";
        display: block;
        padding-top: 100%;
    }
}

.info-stack-circle-text {
    z-index: 5;
    grid-column: 5 / span 3;
    grid-row: 3 / span 3;
    padding-inline-start: 15%;
}

.info-stack-content {
    z-index: 5;
    grid-column: 1 / span 7;
    grid-row: 3 / span 3;
}

.info-stack-return-top {
    z-index: 5;
    grid-column: 4 / span 1;
    grid-row: 6 / span 1;
}

img.img-return-top {
    width: 100%;
    padding-top: 50%;

    @media (min-width: 370px) {
        padding-top: 45%;
        width: 60%;
    }
    @media (min-width: 768px) {
        padding-top: 40%;
        width: 50%;
    }
    @media (min-width: 992px) {
        padding-top: 30%;
        width: 45%;
    }
    @media (min-width: 1200px) {
        padding-top: 20%;
        width: 35%;
    }
    @media (min-width: 1600px) {
        padding-top: 15%;
        width: 25%;
    }
}

p.text-return-top {
    z-index: 11;
    font-size: 0.35em;
    padding-top: 2%;
    
    @media (min-width: 370px) {
        font-size: 0.55em;        
    }
    @media (min-width: 768px) {
        font-size: 0.7em;
    }
    @media (min-width: 992px) {
        font-size: 0.85em;
    }
    @media (min-width: 1200px) {
        font-size: 1em;
    }
    @media (min-width: 1600px) {
        font-size: 1.15em;
    }

    color: $nav;
    font-family: Dosis-Medium, Arial-bold, arial, sans-serif;
}

.bag-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    @include transform(translateX(-10%));
}

.bag-stack-one {
    grid-column: 1 / span 2;
    grid-row: 1;
    z-index: 2;
    padding-top: 15%;
    @include transform(rotate(-6deg));
}

.bag-stack-two {
    grid-column: 2 / span 2;
    grid-row: 1;
    padding-top: 15%;
    padding-left: 5%;
    @include transform(rotate(6deg) translateX(10%));
}

#form-block {
    height: max-content;
    background: radial-gradient($skin, $secondary);
}